{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit-icons.min.js"></script>
</head>

<body>

    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
        <nav class="uk-navbar-container" uk-navbar="dropbar: false;" style="position: relative; z-index: 980;">
    

    <nav class="uk-navbar-container uk-margin" uk-navbar>
        <div class="uk-navbar-left">
    
            <a class="uk-navbar-item uk-logo" href="{% url 'index' %}" >Wiki</a>
    
            
    
            <div class="uk-navbar-item">
                <div><a href="{% url 'index' %}">Home</a></div>
            </div>
            
            <div class="uk-navbar-item">
                <div><a href = "{% url 'random_page' %}">Random Page</a></div>
            </div>

            <div class="uk-navbar-item">
                <div><a href="{% url 'newpage' %}">Create New Page</a></div>
            </div>
            <div class="uk-navbar-item">
                <form action="{% url 'search' %}">
                    <input  class="uk-input uk-form-width-medium" class="uk-input uk-form-width-small" type="text" placeholder="Search Encyclopedia" name="q">
                    <button  type= "submit" class="uk-button uk-button-default">Submit</button>
                </form>
            </div>
    
        </div>
    </div>
    </nav>
    <h4> Remember to use Markdown format.</h4>
    <form action= "{% url 'editpage1' entry%}" method="post">
        <fieldset class="uk-fieldset">
    
            {% csrf_token %}
            
    <h1>Edit Page</h1>
            <div class="uk-margin">
                <input type="hidden" class="uk-input" type="text" value="{{header}}" name="title" placeholder=" header for the page">
            </div>
    
            <div class="uk-margin">
                
            </div>
    
            <div class="uk-margin">
                <textarea class="uk-textarea" name="content" rows="5" placeholder=" content for the page">{{ content }}</textarea>
            </div>
    
            <p uk-margin>
                <button type="submit" value="save changes" class="uk-button uk-button-default">Save</button>
            </p>
            
    
        </fieldset>
    </form>


</body>

</html>