{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit-icons.min.js"></script>
</head>

<body>

    <form action="newmd.html">
        <fieldset class="uk-fieldset">
    
            {% csrf_token %}
            
    <h1>Edit Page</h1>
            <div class="uk-margin">
                <input class="uk-input" type="text" placeholder="Create header for the page">
            </div>
    
            <div class="uk-margin">
                
            </div>
    
            <div class="uk-margin">
                <textarea class="uk-textarea" rows="5" placeholder="Create content for the page"></textarea>
            </div>
    
           
    
    
        </fieldset>
    </form>


</body>

</html>