{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit-icons.min.js"></script>
<link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
</head>


<body>

    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
        <nav class="uk-navbar-container" uk-navbar="dropbar: false;" style="position: relative; z-index: 980;">
    

    <nav class="uk-navbar-container uk-margin" uk-navbar>
        <div class="uk-navbar-left">
    
            <a class="uk-navbar-item uk-logo" href="{% url 'index' %}" >Wiki</a>
    
            
    
            <div class="uk-navbar-item">
                <div><a href="{% url 'index' %}">Home</a></div>
            </div>
            
            <div class="uk-navbar-item">
                <div><a href = "{% url 'random_page' %}">Random Page</a></div>
            </div>

            <div class="uk-navbar-item">
                <div><a href="{% url 'newpage' %}">Create New Page</a></div>
            </div>
            <div class="uk-navbar-item">
                <form action="{% url 'search' %}">
                    <input  class="uk-input uk-form-width-medium" class="uk-input uk-form-width-small" type="text" placeholder="Search Encyclopedia" name="q">
                    <button  type= "submit" class="uk-button uk-button-default">Submit</button>
                </form>
            </div>
    
        </div>
    </div>
    </nav>

<h4> Remember to use Markdown format and the header will not go on you page it will be the title of the page. only the content of the page will go on you page.</h4>

    <form action="/newpage" method= "post">
        <fieldset class="uk-fieldset">
    
            {% csrf_token %}
            
    <h1>Create a new page</h1>
            <div class="uk-margin">
                <input class="uk-input" type="text" name="header" placeholder="Create header for the page">
            </div>
    
            <div class="uk-margin">
                
            </div>
    
            <div class="uk-margin">
                <textarea class="uk-textarea" rows="5" name="content" placeholder="Create content for the page"></textarea>
            </div>
            <p uk-margin>
                
                <button type="submit" class="uk-button uk-button-primary">Submit</button>
                
            </p>
           
    
    
        </fieldset>
    </form>


    {% for messages in messages %}

    <div class="alert alert-success">

        <p class="close" id="help" data-dismiss="alert">This page already exists</p>

            {{message}}

    </div>

{% endfor %}
</body>

</html>